<%- include('./partials/_header'); %> 

<div class="container">
    <div class="row mt-4">
        <div class="col-md">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>ID</th>
                    <th>Fecha de la venta</th>
                    <th>ID de Usuario</th>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i=0; i< data.length ; ++i) {%>
                            <tr>
                                <td><%= (i + 1) %> </td>
                                <td><%= data[i].fecha_Venta %> </td>
                                <td><%= data[i].id_Usuario %> </td>
                                <td>
                                    <a href="sales/delete/<%= data[i].id_Venta %>" class="btn btn-danger">Eliminar</a>
                                    <a href="sales/update/<%= data[i].id_Venta %>" class="btn btn-info mt-1">Editar</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
        </div>
        <br>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="sales/add" method="post">
                        <div class="form-group mt-1">
                            <input type="datetime-local" name="fecha_Venta" class="form-control">
                        </div>
                        <div class="form-group mt-1">
                            <input type="number" name="id_Usuario" placeholder="ID de Usuario" class="form-control" value="">
                        </div>
                        <button type="submit" class="btn btn-primary mt-1">
                            Añadir nueva Venta
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/_footer'); %> 